@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font: normal 500 30px 'Ubuntu';
  color: #ecf0f1;
}

p {
  font: normal 300 20px 'Ubuntu';
  color: #ecf0f1;
}

a {
  text-decoration: none;
}

#cabecalho {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #311700;
  height: 10vh;
}

#cabecalho a {
  color: #ecf0f1;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin: 0 15px;
}

.navegacao a {
  padding: 10px;
  border-radius: 7px;
  transition: .5s;
  font: normal 300 20px 'Ubuntu';
  color: #ecf0f1;
}

.navegacao a:hover {
  background-color: #5b3508;
  transition: .5s;
}

#conteudo {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #311700;
}

#conteudo div {
  margin: 20px;
}

#conteudo div p {
  text-align: center;
}

#conteudo a {
  color: #ff8c00;
}

#rodape {
  padding: 20px;
  background-color: #5b3508;
  height: 10vh;
}

#rodape p {
  text-align: center;
}

/* ############### SOBRE ############### */

#conteudo_sobre {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
  background-color: #311700;
}

.sobre_item {
  background-color: #5b3508;
  margin: 5px 5px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  height: 350px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
}

.sobre_item:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.sobre_item img {
  width: 150px;
  border-radius: 50%;
  margin: 15px;
  transition: .5s;

}

.sobre_item img:hover {
  transform: scale(1.1, 1.1);
  transition: .5s;

}

.sobre_item h1 {
  margin: 15px;
}

.sobre_item p {
  margin: 15px;

}

.sobre_item .redes_sociais {
  display: flex;
  justify-content: center;
}

.sobre_item .redes_sociais a {
  font: normal 300 14px 'Ubuntu';
  padding: 10px;
  transition: .5s;
  border-radius: 7px;
  color: #ecf0f1;
}

.sobre_item .redes_sociais a:hover {
  background-color: #311700;
  transition: .5s;
}

@media (max-width: 360px) {
  .navegacao a {
    padding: 0px;
  }
}

@media (max-width: 760px) {
  #conteudo_sobre {
    flex-wrap: wrap;
    height: 100%;
  }
}

@media (max-width: 1000px) {
  #conteudo_sobre {
    flex-wrap: wrap;
  }

  .sobre_item {
    width: 250px;
    height: 300px;
    padding: 10px 20px;
  }

  .sobre_item img {
    width: 120px;
  }
}
