* {
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ecf0f1;
}

/* ######## CABEÇALHO ######## */

#cabecalho {
  background-color: #e26a2c;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logotipo {
  margin: 0 20px;
}

.navegacao {
  display: flex;
}

.navegacao li {
  margin: 0 20px;
}

/* ######## APRESENTAÇÃO ######## */

