@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ecf0f1;
  font: normal 600 1.2em 'Josefin Sans';
}

h1 {
  font: normal 600 2.5em 'Josefin Sans';
}

h2 {
  font: normal 600 2em 'Josefin Sans';
}

h3 {
  font: normal 600 1.7em 'Josefin Sans';
}

p {
  font: normal 300 1.5em 'Josefin Sans';
}

/* ######## CABEÇALHO ######## */

#cabecalho {
  background-color: #e26a2c;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logotipo {
  margin: 0 20px;
}

.navegacao {
  display: flex;
}

.navegacao li {
  margin: 0 20px;
}

.navegacao li a {
  border-bottom: 2px solid #ff8243;
  padding: 15px 10px 10px 10px;
  transition: .5s;
}

.navegacao li a:hover {
  background-color: #ff8243;
  transition: .5s;
  border-radius: 10px;
}

/* ######## APRESENTAÇÃO ######## */

#apresentacao {
  background-color: #ff8243;
  color: #ecf0f1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.item-container {
  margin: 20px;
}

.item-container:nth-child(2) {
  display: flex;
}

.item-box {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.item-box img {
  margin: 7px 0;
}

.item-box .sobre-profile li {
  font: normal 300 1.2em 'Josefin Sans';
  padding: 0px;
  margin: 5px 0;
}

.item-box .sobre-profile li::before {
  content: "> ";
}

.socials-profile {
  display: flex;
}

.socials-profile li {
  margin: 2px 20px;
}

.socials-profile .fa-brands {
  font-size: 40px;
}

.img_member {
  width: 250px;
  border-radius: 10px;
}

/* ############## */

#projetos:target {
  scroll-margin-bottom: 2em;
}

#projetos {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFD07F;
}

#projetos .container-projetos {
  background-color: #e26a2c;
  width: 70vw;
  /* padding: 10px; */
  /* margin: 10px; */
  color: #FFD07F;
}

.main-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  float: left;
  width: 500px;
  height: 400px;
  margin: 20px;
  shape-outside: circle();
  clip-path: circle();
  background: #FFD07F;
}

.circle {
  background-color: #e26a2c;
  border-radius: 100px;
  padding: 30px;
  margin: 10px;
}

.container-projetos h2 {
  margin: 20px;
}

.fa-solid {
  color: #ecf0f1;
  font-size: 80px;
}
